pre {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--theme-ui-colors-border);
  color: var(--theme-ui-colors-primary-text);
}

code {
  font-size: 14px;
  font-family: SF Mono, Menlo, Consolas, Liberation Mono, monospace;
}

.token.keyword,
.token.punctuation,
.token.class-name,
.token.method.function.property-access,
.token.attr-value,
.token.maybe-class-name,
.token.arrow.operator {
  color: var(--theme-ui-colors-primary);
}

.token.string,
.token.plain-text,
.token.parameter {
  color: var(--theme-ui-colors-secondary-text);
}

.token.comment {
  color: var(--theme-ui-colors-gray200);
}
